{;; token get from bot father
 :token "YOUR-BOT-TOKEN"

 ;; long-polling interval (ms)
 :interval 500

 ;; feed option for feed-parser
 ;; feed-uri, support atom/rss
 :feed-uri "http://planet.clojure.in/atom.xml"
 ;; file to save
 :feed-archive "resources/archive.edn"
 }
